<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>zkpy@zr.pbz</string>
	<key>contactName</key>
	<string>Max Howell</string>
	<key>description</key>
	<string>&lt;a href="http://rool.org"&gt;Roole&lt;/a&gt; is a language that compiles to CSS.

It drew many inspirations from other CSS preprocessing languages like Sass, LESS and Stylus.

The most unique feature of Roole is that it has vendor prefixing built-in, so the language stays dead simple yet being able to prefix some extremely complex rules transparently. Since Roole is also a superset of CSS, you can use it directly as a CSS prefixer.

This bundle provides syntax highlighting. Contributions are very welcome and bug reports equally welcome. http://github.com/mxcl/Roole.tmBundle
</string>
	<key>name</key>
	<string>Roole</string>
	<key>uuid</key>
	<string>1CE8827C-BC19-492C-9EBB-4C57A23FFCC3</string>
</dict>
</plist>
